.pageWrapper{
    border:1px solid red;
    padding:20px;

    padding:20px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blux(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.pageWrapper > .buttonContainer{
    margin:20px 0;
}
.pageWrapper > .card{
    margin:20px 0;
}
.pageWrapper > .inputContainer{
    margin:20px 0;
}